<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/update/{{ user[0] }}">
      <label>Nama barang</label><br />
      <input type="text" name="nama_barang" value="{{ user[2] }}" required /><br />
      <label>Harga barang</label><br />
      <input type="number" name="harga_barang" value="{{ user[3] }}" required /><br />
      <label>Stok barang</label><br />
      <input type="number" name="stok_barang" value="{{ user[4] }}" required /><br />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
